#title-text {
    -fx-fill: black;
}
#password-field {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: whitesmoke;
}
.progress-bar, .bar {
    -fx-control-inner-background: transparent;
    -fx-padding: 5;
    -fx-background-insets: 0;
}
.main-buttons, .white-based-background {
    -fx-fill: whitesmoke;
}
.main-button-content {
    -fx-stroke: #3f424d;
    -fx-fill: #3f424d
}
.main-button-arcs {
    -fx-fill: whitesmoke;
    -fx-stroke-width: 7;
    -fx-stroke: #3f424d;
}
.tool-tip {
    -fx-background-color: #3f424d;
    -fx-text-fill: whitesmoke;
}
.advanced-ui-controls {
    -fx-base: #3f424d;
    -fx-fill: whitesmoke;
    -fx-border-color: transparent;
    -fx-border-width: 5;
}
.control-menu-separators {
    -fx-stroke: whitesmoke;
}
.main-button-sealer, .toolbar-button-sealer {
    -fx-fill: transparent;
}
.side-panel-based-color {
    -fx-background-color: #3f424d;
}



