[Desktop Entry]
Name=File Encryptor
GenericName=Simple File Encryptor
Comment=Simple file encryptor for the masses
Categories=Utility;Security;
Exec=fileEncryptor
Icon=file-encryptor
Terminal=false
Type=Application
Keywords=File;Encryption;Security;
